/.build/
/.cache/
/.tools/
/dist/
/node_modules/
/playwright-report/
/test-results/
**/build/
**/_build/
**/.lustre/
**/erl_crash.dump
**/*.beam
**/manifest.toml
/packages/beamtrace_runtime/beamtrace_runtime
/packages/beamtrace_runtime/beamtrace_runtime.cmd
